@model WebCol.Models.ViewModels.AnalisisViewModel

@{
    ViewData["Title"] = "Crear Analisis";
}

<h1>Crear</h1>

<h4>Analisis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.AsignacionColumnas == null)
        {
            <form asp-action="Create" method="get">
                <div class="form-group">
                    <label asp-for="Analisis.LoteId" class="control-label">Seleccione el Lote:</label>
                    @if (Model.Lote == null)
                    {
                        <select name="id" class="form-control" asp-items="ViewBag.lotes"><option value="">...</option></select><br>
                        <button class="btn btn-primary" type="submit" asp-action="Create">Seleccionar</button>
                    }
                    else
                    {
                        <select name="id" class="form-control" asp-items="ViewBag.lotes" disabled></select>
                    }

                    @if (Model.Procedimientos != null)
                    {
                        <div class="form-group">
                            <label asp-for="Analisis.AsignacionColumnas.ProcedimientoAnalisis.Id" class="control-label"> Seleccione el procedimiento:</label>
                            <select name="procedimientoIdElegido" class="form-control" asp-items="ViewBag.procedimientos"></select><br>
                            <button class="btn btn-primary" type="submit" asp-action="Create" asp-route-id=@Model.Lote.Id>Continuar</button>
                        </div>
                    }
                </div>

            </form>
        }
        else
        {
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>@ViewBag.producto.Nombre</h2>
                    <input type="hidden" name="Analisis.LoteId" value="@Model.Analisis.LoteId" />

                    @if (Model.Procedimientos != null)
                    {
                        <input type="hidden" name="Analisis.ProcedimientosIds" value="Model.Analisis.AsignacionColumnas.ProcedimientoAnalisis.Id" />
                    }
                    <label asp-for="@Model.Lote" class="control-label">Lote Nro:</label>
                    <select name="id" class="form-control" asp-items="ViewBag.lotes" disabled></select>

                    <label asp-for="@Model.Procedimientos" class="control-label">Procedimiento seleccionado:</label>
                    <select name="idprocedimientos" class="form-control" asp-items="ViewBag.procedimientos" disabled></select>
                    
                    <input type="hidden" name="Analisis.Usuario" value="@User.Identity.Name" />
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Analisis.AsignacionColumnaId" class="control-label">Seleccione la columna:</label>
                    <select asp-for="Analisis.AsignacionColumnaId" class="form-control" asp-items="ViewBag.asignacionesColumnas"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.FechaInicio" class="control-label"></label>
                    <input asp-for="Analisis.FechaInicio" class="form-control" />
                    <span asp-validation-for="Analisis.FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.FechaFinal" class="control-label"></label>
                    <input asp-for="Analisis.FechaFinal" class="form-control" />
                    <span asp-validation-for="Analisis.FechaFinal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.CategoriaOrigen" class="control-label"></label>
                    <input asp-for="Analisis.CategoriaOrigen" class="form-control" />
                    <span asp-validation-for="Analisis.CategoriaOrigen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.Ph" class="control-label"></label>
                    <input asp-for="Analisis.Ph" class="form-control" />
                    <span asp-validation-for="Analisis.Ph" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.TiempoCorrida" class="control-label"></label>
                    <input asp-for="Analisis.TiempoCorrida" class="form-control" />
                    <span asp-validation-for="Analisis.TiempoCorrida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.Inyecciones" class="control-label"></label>
                    <input asp-for="Analisis.Inyecciones" class="form-control" />
                    <span asp-validation-for="Analisis.Inyecciones" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.Flujo" class="control-label"></label>
                    <input asp-for="Analisis.Flujo" class="form-control" />
                    <span asp-validation-for="Analisis.Flujo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.Temperatura" class="control-label"></label>
                    <input asp-for="Analisis.Temperatura" class="form-control" />
                    <span asp-validation-for="Analisis.Temperatura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.PresionIni" class="control-label"></label>
                    <input asp-for="Analisis.PresionIni" class="form-control" />
                    <span asp-validation-for="Analisis.PresionIni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.PresionFin" class="control-label"></label>
                    <input asp-for="Analisis.PresionFin" class="form-control" />
                    <span asp-validation-for="Analisis.PresionFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.PlatosIni" class="control-label"></label>
                    <input asp-for="Analisis.PlatosIni" class="form-control" />
                    <span asp-validation-for="Analisis.PlatosIni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.PlatosFin" class="control-label"></label>
                    <input asp-for="Analisis.PlatosFin" class="form-control" />
                    <span asp-validation-for="Analisis.PlatosFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Analisis.Comentario" class="control-label"></label>
                    <input asp-for="Analisis.Comentario" class="form-control" />
                    <span asp-validation-for="Analisis.Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
