@model IEnumerable<WebCol.Models.AsignacionColumna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Columnas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedimientoAnalisis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Columnas.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedimientoAnalisis.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AsignacionColumnaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AsignacionColumnaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AsignacionColumnaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
