@model WebCol.Models.ProcedimientoAnalisis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProcedimientoAnalisis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaseMovil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaseMovil.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoPrincipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoPrincipio.ProductoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Principio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Principio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
